// Selection-driven bottleneck where everyone has 0.3 fitness

initialize() {
	//setSeed(1694628549537);
	initializeSLiMModelType("nonWF");
	initializeTreeSeq();
	defineConstant("simID", getSeed());
	if (exists("slimgui")) {
		//defineConstant("O", "nonWF_"+simID+".trees");
		defineConstant("O", "nonWF_select_"+simID+".trees");
	}
	initializeMutationType("m1", 0.5, "f", 0.0);
	m1.convertToSubstitution = T;
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 51304565);
	initializeMutationRate(0);
	
	//Read HapMap genetic map for chr22
	lines = readFile("/home/users/cindy/genetic_map_GRCh37_chr22.txt");
	rates = NULL;
	ends = NULL;
	for (line in lines)
	{
		components = strsplit(line, "\t");
		if (components[0]=="Chromosome")
			next;
		ends = c(ends, asInteger(components[1]));
		rates = c(rates, asFloat(components[2]));
	}
	ends = c(ends[1:(size(ends)-1)] - 2, 51304565);
	rates = rates * 1e-8;
	initializeRecombinationRate(rates, ends);
}


// WF-like reproduction - systematically returns to K
reproduction() {
	K = sim.getValue("K");
	for (i in seqLen(K))
	{
		firstParent = p2.sampleIndividuals(1);
		secondParent = p2.sampleIndividuals(1);
		p2.addCrossed(firstParent, secondParent);
	}
	self.active = 0;
}

58000 early() {
	sim.readFromPopulationFile("/home/users/cindy/data/finalGravel_1897530535422.trees");
	sim.setValue("K", p2.individualCount);
}

58000 late(){
	mut = sim.mutations;
	catn(mut);
}

// Non-overlapping generations
early()
{
	inds = sim.subpopulations.individuals;
	inds[inds.age > 0].fitnessScaling = 0.0;
}

// Reduce fitness of individuals without the allele
58002:58005 early() {
	inds = sim.subpopulations.individuals;
	inds = inds[inds.age < 1];
	inds.fitnessScaling = 0.3;
	
}

// Positive selection is introduced
58002 early() {
	sim.mutations.setSelectionCoeff(0.0);
}

// Positive selection is turned off
58006 early() {
	sim.mutations.setSelectionCoeff(0.0);
}

// Output per generation
58000:58016 late() {
	sim.treeSeqRememberIndividuals(p2.individuals);
	freq=sim.mutationFrequencies(p2);
	inds = sim.subpopulations.individuals;
	wt = size(inds[inds.countOfMutationsOfType(m1) == 0]);
	het = size(inds[inds.countOfMutationsOfType(m1) == 1]);
	hom = size(inds[inds.countOfMutationsOfType(m1) == 2]);
	catn(sim.generation + "\t" + p2.individualCount + "\t" + sim.mutationFrequencies(p2) + "\t" + wt + "\t" + het + "\t" + hom +  "\t" + mean(p2.cachedFitness(inds[inds.countOfMutationsOfType(m1) == 0].index)) + "\t" + mean(p2.cachedFitness(inds[inds.countOfMutationsOfType(m1) == 1].index)) + "\t" + mean(p2.cachedFitness(inds[inds.countOfMutationsOfType(m1) == 2].index)));
}

// Tree output
58016 late() {
//	sim.treeSeqOutput(O);
}
